@import "../../../user_interface/static/scss/base.scss";

.price-filter {
    h4 {
        margin-top: 0;
    }

    .price-range {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        input {
            width: auto;
            max-width: 100%;
            padding: 10px 15px;
            border-radius: 20px;
            border: none !important;
            background-color: $second;
            color: #fff;
        }

        span {
            margin: 0 10px;
        }
    }

    button {
        display: block;
        margin: 0 auto;
    }
}

.filter--tittle-sort-container{
    display: flow-root
}

.filter-buttons{
    display: flow-root;
}

@media (min-width: 991.98px) {
    #filtersCollapse {
        display: block;
    }
}

@media (max-width: 991.98px) {
    .filters{
        background-color: $second!important;
        .filter-tittle{
            display: inline;
        }
        .filter-collapse-button{
            display: inline;
        }
    }
    .price-filter{
        input{
            background-color: $third!important;
        }
    }
}
