@import "custom";

@import url(//db.onlinewebfonts.com/c/b82329475307e0380dc1ea23f0c35266?family=adineue+PRO);

@font-face {
    font-family: "adineue PRO";
    src: url("//db.onlinewebfonts.com/t/b82329475307e0380dc1ea23f0c35266.eot");
    src: url("//db.onlinewebfonts.com/t/b82329475307e0380dc1ea23f0c35266.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b82329475307e0380dc1ea23f0c35266.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b82329475307e0380dc1ea23f0c35266.woff") format("woff"), url("//db.onlinewebfonts.com/t/b82329475307e0380dc1ea23f0c35266.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b82329475307e0380dc1ea23f0c35266.svg#adineue PRO") format("svg");
}

$primary: #ff626d;
$primary-second: #fcad72;
$primary-gradient: linear-gradient(32deg, #ff626d 0%, #fcad72 100%);

$second: #333235;
$third: #232227;

body {
    background-color: $second;
    color: white;
    font-family: 'adineue PRO' !important;
}

.modal-dialog {
    max-width: 900px;

    .modal-header,
    .modal-footer {
        border-color: #A5D7E8 !important;
    }

    .modal-content {
        background-color: #19376D !important;
        border-radius: 15px;
    }
}

.text-justify {
    text-align: justify;
}

.bg-primary {
    background: $primary;
    background: $primary-gradient;
}

.bg-dark {
    background-color: $third;
}

.navbar-shadow {
    -webkit-box-shadow: 0px 9px 51px 14px rgba($second, 0.47);
    -moz-box-shadow: 0px 9px 51px 14px rgba($second, 0.47);
    box-shadow: 0px 9px 51px 14px rgba($second, 0.47);
}

.nav-link {
    color: #fff;
}

.nav-item-icon {
    background-color: $second;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    margin-left: 10px;

    a {
        text-align: center;
    }
}

.btn {
    border-radius: 20px;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    transition: 200ms all;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #333235;
    --bs-btn-border-color: #333235;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #232227;
    --bs-btn-hover-border-color: #232227;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #232227;
    --bs-btn-active-border-color: #232227;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #333235;
    --bs-btn-disabled-border-color: #333235;
}

.btn-second {
    --bs-btn-color: #fff;
    --bs-btn-bg: #fcad72;
    --bs-btn-border-color: #fcad72;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ff626d;
    --bs-btn-hover-border-color: #ff626d;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff626d;
    --bs-btn-active-border-color: #ff626d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #fcad72;
    --bs-btn-disabled-border-color: #fcad72;
}

.list-group-dark {
    border: none;

    .list-group-item {
        background: transparent;
        color: #fff;
        border: none;
    }
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: #fff;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);

    color: var(--form-control-disabled);
    cursor: not-allowed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.select-dark{
    border: none;
    border-radius: 20px;
    background-color: $third;
    color: #fff;
}
