@import "base.scss";


.category-card {
    padding: 0 7px;

    .card-body {
        margin: 0 10px;
        padding: 0 0 20px 0;
        height: 120px;

        .btn {
            width: 100%;
        }
    }
}
