@import "base";

.carusel-container {
    background: $primary-gradient;
    padding: 40px;

    img {
        border-radius: 50%;
    }

    .carousel-item {
        max-width: 717px;
        max-height: 717px;
    }

    .carousel-inner {
        max-width: 717px;
        max-height: 717px;
    }
}
