{% extends "base.html" %}
{% load static %}
{% load compress %}
{% load cropping %}
{% load get_product_image_url %}
{% block imports %}
    {% compress css %}
        <link type="text/x-scss"
              rel="stylesheet"
              href="{% static 'scss/product.scss' %}">
    {% endcompress %}
    {% compress js %}
        <script src="{% static 'js/product.js' %}"></script>
    {% endcompress %}
{% endblock imports %}
{% block title %}
    {{ product.name }}
{% endblock title %}
{% block content %}
    <div class="main-info bg-primary">
        <div class="container">
            <div class="row pt-5">
                <div id="imageCarousel"
                     class="carousel slide col-lg-5 offset-lg-1"
                     data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in images %}
                            <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                <img src="{% cropped_thumbnail image 'cropping' %}"
                                     class="d-block w-100"
                                     alt="{{ product.name }}"
                                     width="auto"
                                     height="auto">
                            </div>
                        {% endfor %}
                    </div>
                    {% if images|length > 1 %}
                        <button class="carousel-control-prev"
                                type="button"
                                data-bs-target="#imageCarousel"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next"
                                type="button"
                                data-bs-target="#imageCarousel"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    {% endif %}
                </div>
                <div class="col-lg-1 mt-5 color-container">
                    {% for linked_product in product.linked_products.all %}
                        <a href="{% url 'product:product' product_slug=linked_product.slug %}">
                            <img src="{% cropped_thumbnail linked_product.id|get_product_image_url 'cropping' %}"
                                 alt="{{ linked_product.name }}"
                                 width="85px"
                                 height="85px" />
                        </a>
                    {% endfor %}
                </div>
                <div class="col-lg-5 mt-5">
                    <h1 class="mb-3">{{ product.name }}</h1>
                    <div class="mb-4 short-description-container">
                        <span>{{ product.short_description }}</span>
                    </div>
                    {% if sizes %}
                        <div class="product-size-container mb-5">
                            <span class="size-label mb-3">select size</span>
                            <div class="row">
                                {% for size in sizes %}
                                    <div class="col-2 mt-2">
                                        <input type="radio"
                                               id="size-{{ size.value }}"
                                               name="size"
                                               class="size-input"
                                               value="{{ size.value }}"
                                               onclick="selectSize(this);"
                                               {% if size.stock < 1 %}disabled{% endif %}>
                                        <label for="size-{{ size.value }}"
                                               {% if size.stock < 1 %}class="disabled-radio-input"{% endif %}>
                                            <span class="center-text">{{ size.value }}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div>
                        <button id="addToCartButton" class="btn btn-primary me-3" {% if sizes %}disabled{% endif %}>+ add to cart</button>
                        <span class="fs-2 align-middle">${{ product.price }}</span>
                    </div>
                </div>
            </div>
            <span class="offset-1 description-label">description.</span>
        </div>
    </div>
    <div class="container">
        <div class="offset-1 description mt-5">{{ product.description }}</div>
    </div>
{% endblock content %}
