@import "../../../user_interface/static/scss/base.scss";


.color-container {
    a {
        img {
            width: 85px;
            height: 85px;
            transition: 200ms all;
            border-radius: 50%;
            margin: 12px 0;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 10px 3px $second;
            }
        }
    }
}

.carousel {
    max-width: 500px;

    .carousel-inner {
        border-radius: 50%;
        box-shadow: 0 0 30px 2px $second;
    }
}

.main-info {
    @include media-breakpoint-up(md) {
        max-height: 666px;
    }
}

.short-description-container {
    span {
        height: 30px;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.size-input+label {
    display: inline-block;
    min-width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 2px;
    transition: 200ms all;

    &:not(.disabled-radio-input) {
        &:hover {
            background-color: $second;
        }
    }
}

.disabled-radio-input {
    cursor: default !important;
    color: #818082;

}


.center-text {
    display: block;
    text-align: center;
    margin-top: 8px;
}

.size-input {
    display: none;
}

.size-input:checked+label {
    background-color: $third;
}

.product-size-container {
    max-width: 250px;
}

.description-label {
    @include media-breakpoint-up(md) {
        font-size: 8rem;
    }

    @include media-breakpoint-down(md) {
        font-size: 3rem;
    }
}

.size-label {
    background-color: white;
    color: $second;
    padding: 5px 10px;
    border-radius: 2px;
    text-transform: uppercase;
    display: inline-table;
}

.color-container {
    max-height: 425px;
    overflow-y: scroll;
}
