{% extends "base.html" %}
{% load static %}
{% load compress %}
{% load get_product_image_url %}
{% load get_dict %}
{% load cropping %}
{% block title %}
    {{ page_title }}
{% endblock title %}
{% block imports %}
    {% compress css %}
        <link type="text/x-scss"
              rel="stylesheet"
              href="{% static 'scss/category_list.scss' %}">
    {% endcompress %}
{% endblock imports %}
{% block content %}
    <div class="container row mt-4">
        {% for category in categories %}
            <div class="card col-lg-4 category-card mb-3">
                <div class="bg-dark rounded-1">
                    <img src="{% cropped_thumbnail category.id|get_product_image_url:'productcategory' 'cropping' %}"
                         class="card-img-top"
                         alt="{{ category.category }}"
                         width="100%"
                         height="auto">
                    <div class="card-body position-relative">
                        <h5 class="card-title mt-3">{{ category.category }}</h5>
                        <a href="{% url 'category:category' category_slug=category.slug %}"
                           class="btn btn-second position-absolute mb-3 bottom-0 start-0">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
